---
import ContactCard from "@/components/ContactCard.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import EmailIcon from "@/components/icons/EmailIcon.astro";
import GitHubIcon from "@/components/icons/GitHubIcon.astro";
---

<MainLayout>
  <h1>Jinkang Fang</h1>
  <div class="contacts">
    <ContactCard>
      <EmailIcon />
      <a href="mailto:jinkang.fang@gmail.com">jinkang.fang@gmail.com </a>
    </ContactCard>
    <ContactCard>
      <GitHubIcon />
      <a href="https://github.com/jinkang-0" target="_blank">jinkang-0</a>
    </ContactCard>
  </div>
</MainLayout>

<style lang="scss">
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
