@use "../styles/colors";

.container {
  width: 100%;
}

.swiper:global(.swiper) {
  grid-column: full;
  width: 100%;
  display: flex;
  flex-direction: column;

  :global(.swiper-slide) {
    width: auto;
  }

  img {
    height: 400px;
    user-select: none;
    -webkit-user-drag: none;
    // box-shadow: 0 6px 15px -2px rgba(0, 0, 0, 0.2);
    border: 1px solid colors.$lightGrayBorder;
    border-radius: 4px;
  }

  :global(.swiper-pagination) {
    position: static;
  }
}

.info {
  grid-column: content;
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 64px;

  header {
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
      color: colors.$mildGrayText;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 12px;
    color: colors.$darkGrayText;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    a {
      text-decoration: none;
      color: black;
      padding: 8px 12px;
      border: 1px solid black;
      border-radius: 4px;
      display: flex;
      gap: 4px;
      align-items: center;
      transition: 150ms;

      &:hover {
        background: colors.$darkGrayText;
        color: white;

        path:global(.stroke) {
          stroke: white;
        }

        path:global(.fill) {
          fill: white;
        }
      }
    }
  }
}
