---
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";

const anim = {
  old: {
    name: "drop-out",
    duration: "250ms",
    easing: "ease-in"
  },
  new: {
    name: "pop-in",
    delay: "250ms",
    easing: "ease-out"
  }
};

const customTransition = {
  forwards: anim,
  backwards: anim
};
---

<Layout>
  <main>
    <Navbar />
    <div class="layout-grid" transition:animate={customTransition}>
      <slot />
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    position: relative;

    div {
      width: 100%;
    }
  }
</style>
